*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.main{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #ef5350 ;
    padding: 15px 2%;
    max-width:1000px;
    margin-left: 450px;
    margin-top: 50px;
}

.main h1{
    text-align: center;
    color:white; ;
    font-size: 45px;
}

.pokemon-boxes{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.pokemon-box{
    border-radius: 10px;
    width: 29%;
    margin: 20px 2%;
    background-color: white;
}

.pokemon-box img{
    width: 100%;
}

.pokemon-box p{
    color: black;
    font-size: 21px;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 768px){
    .pokemon-box{width: 100%; text-align: center;}
    .pokemon-box img{
        max-width: 300px;
    }
}